<nav class="navbar navbar-expand-md navbar-custom fixed-top">
  <a class="navbar-brand" href="#">
    <img src="/assets/imagens/logo_pequeno.png" alt="IPESQ">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault" *ipesqEstaAutenticado>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/dashboard">Início <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item active dropdown">
          <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Prontuários</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="javascript:void(0)">Novo</a>
            <a class="dropdown-item" href="javascript:void(0)">Consultar</a>
          </div>
        </li>

        <li class="nav-item active">
          <a class="nav-link" href="javascript:void(0)" (click)="sair()">Sair</a>
        </li>
      </ul>
  </div>
</nav>
<div class="container-fluid conteudo">
  <router-outlet></router-outlet>
</div>
<ipesq-loading [show]="carregando"></ipesq-loading>