<div class="row">
  <div class="col-md-12">
    <h3 class="titulo">Estatísticas</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <h4 class="card-header">Operações Realizadas</h4>
      <div class="card-body">
        <div id="chart_operacoes"></div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <h4 class="card-header">Prontuários por Cidade</h4>
      <div class="card-body">
        <div id="chart_cidades"></div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <h4 class="card-header">Malformações</h4>
      <div class="card-body">
        <div id="chart_malformacoes"></div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
  </div>
</div>